// config file for Singularity specificities

singularity {
        enabled = true
        cacheDir = "${baseDir}/singularity_cache/"                              // the directory where the singularity dirs should be create
        envWhitelist = "SINGULARITYENV_PYTHONPATH=${baseDir}/bin/pylib:${baseDir}/bin"         // importing inside py script sorted
} 